body{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}



.warpper{
    display: flex; /* Используем flexbox для выравнивания колонок */
    justify-content: space-between;
}

.menu{
    background-color: #cc5de8;
    height: 900px;
    width: 365px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}




  .container {
            display: flex; /* Используем flexbox для выравнивания колонок */
            
        }

.column1 {
            background-color: #ffffff;
            max-width:  365px;
            height: 100vh;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            box-sizing: border-box; /* Учитываем отступы и границы в ширине */
            border-right: 1px solid #6200ff; /* Добавляем рамку для видимости */
            height: 100vh;
            align-items: center;
        }

.column2{
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
     width: 1070px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.logo{
    margin-top: 48px;
}

.test{
  /* кнопки */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;
gap: 10px;
background-color: #ffffff;
border-color: #ffffff;
width: 305px;
height: 60px;
margin-top: 20px;
border: none;


}
.test{
    width: 305px;
    height: 60px;
    border-radius: 15px;
    padding: 16px 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    text-align: center;
    border: none;
    color: #8529CE;
}

button.test:focus {
    vertical-align: middle;
    background-color:  #8529CE;
    color: white;
    /* кнопки */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;
gap: 10px;

width: 305px;
height: 60px;

background: #8529CE;
border-radius: 15px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.button_stile{
    margin-top: 49px;
}

.info{
    /* Group 46 */

/* Frame 201 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

position: absolute;
width: 611px;
height: 117px;
left: 50%;
    transform: translateX(-50%); /* Центрируем по горизонтали */
top: 45px;

/* фиол */
background: #8529CE;
border-radius: 25px;

/* Здесь вы можете пройти тестирования, которые помогут лучше определить программу и прогресс вашего обучения */

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* or 24px */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
display: flex;
align-items: center;
letter-spacing: -0.011em;
text-transform: uppercase;

/* белый */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
   /* Отступы внутри блока */
   padding: 29px 26.5px; /* Верх/низ = 29px, Лево/право = 26.5px */
    
   /* Для точности можно добавить box-sizing */
   box-sizing: border-box;

}



.haracter{
    display: flex;

}



.begginer{
    /* Rectangle 136 */

box-sizing: border-box;

position: absolute;
width: 611px;
height: 198px;
left: 50%;
    transform: translateX(-50%); /* Центрируем по горизонтали */
top: 212px;

/* роз */
background: #E66385;
/* черный */
border-bottom: 2px solid #000000;
border-radius: 25px;
align-items: center;
padding: 10px;


text-align: center; /* Выравнивание текста по центру */
text-decoration: none; /* Убираем подчеркивание */
display: inline-flex; /* Используем flexbox для выравнивания */
align-items: center;

}


.pink{
    width: 611px;
    height: 198px;
    text-align: center; /* Выравнивание текста по центру */
    text-decoration: none; /* Убираем подчеркивание */
    
    align-items: center;
    
    
}
.text_pink{
    /* Начальное тестирование */
    top: -10px;
    position: relative;
/* montserrat/bold/24 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
/* or 36px */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
display: flex;
align-items: center;

letter-spacing: -0.011em;
text-transform: uppercase;


/* белый */
color: #FFFFFF;
margin-top: 24px;
margin-left: 29px;
}

.white{
background: #FFFFFF;
border-radius: 25px;
align-items: center;
justify-items: center;
width: 553px ;
height: 118px;
justify-content: center;
align-content: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

box-sizing: border-box;
left: 20px;
position: relative;
}

.text_pink1{
    /* Frame 178 */
box-sizing: border-box;
display: flex;

justify-content: center;
align-items: center;
padding: 10px;
font-family: 'Montserrat';

width: 515px;
height: 31px;


/* черный */
border: 1px solid #000000;
border-radius: 25px;

}


.dopinfo{
    display: flex;
    justify-content: space-between;
    width: 515px;
    margin-top: 10px
}

.oval{
    margin-top: 0px;
    border: 1px solid #000000;
    border-radius: 25px;
    width: 246px;
    height: 31px;
    align-items: center;
    justify-content: center;
    display: flex; /* Активируем flex внутри .oval */
    font-family: 'Montserrat';
}

.finaltest{
    /* Group 43 */

position: absolute;
width: 611px;
height: 198px;
left: 50%;
    transform: translateX(-50%); /* Центрируем по горизонтали */
top: 440px;
background-color: #E66385;
border-radius: 25px;

}
.finaltext{
        /* ФИНАЛЬНОЕ тестирование */

   
    width: 452px;
    height: 17px;
    

    /* montserrat/bold/24 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */
    display: flex;
    
    letter-spacing: -0.011em;
    text-transform: uppercase;

    /* белый */
    color: #FFFFFF;
    margin-top: 26px;
    margin-left: 29px ;

}

.white1{
    /* Rectangle 137 */

margin-top: 20px;
width: 553px;
height: 118px;


/* белый */
background: #FFFFFF;
border-radius: 25px;
justify-items: center;
align-content: center;
}



